@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.digital-clock {
  background-color: white;
  background-image: url(src/assets/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 400px;
  height: 533px;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  padding-top: 180px;
  color: black;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 15px;
}

.time {
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 700;
}

.date {
  font-size: 20px;
  font-weight: 500;
}
